#container{
    /* position: absolute; */
    background-color: #fef4ee;
    width: 1440px;
    height: 993px;
    left: 0px;
    top: -3px;
    /* background: url(.png); */
    mix-blend-mode: luminosity;
    border: 1px solid black;
    margin: auto;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding:30px 30px ;
    align-items: center;
}
.nav-left-div{
    /* position: absolute; */
    width: 48px;
    height: 24px;
    margin-left: 6px;
    left: 108px;
    top: 50px;
    display: flex;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 147% */
    gap:10px;
    color: #1A1D32;
}
.nav-left-div>img{
    width: 20px;
}

.nav-middle-div{
    display: flex;
    gap:40px;
}
.nav-middle-div div:nth-child(1){
    /* position: absolute; */
    width: 46px;
    height: 20px;
    margin-left: 140px;
    top: 53px;
    margin-right: 22px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #ED9B59;
}
.mid-div-subchild{
    /* position: absolute; */
    width: 73px;
    height: 20px;
    left: 595px;
    top: 53px;

    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #7D8790;
}
.nav-right-div{
    display: flex;
    gap:20px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    margin-right: 70px;
}
.nav-right-div >:nth-child(1) {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #7D8790;

  }
.nav-right-div >:nth-child(2){
    /* position: absolute; */

    width: 146px;
    height: 52px;
    text-align: center;
    color: #fef4ee;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ED9B59;
    box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407), 0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04), 0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
    border-radius: 40px;

}
/* below navbar */
#second-container-left >:nth-child(1) {
    position: absolute;
    width: 185px;
    height: 24px;
    left: 71px;
    top: 207px;

    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
/* identical to box height, or 168% */


color: #ED9B59;
}
#second-container-left >:nth-child(2){
    position: absolute;
width: 583px;
height: 177px;
left: 71px;
top: 244px;

font-family: 'Google Sans';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 101.8%;
/* or 59px */

letter-spacing: -0.01em;

color: #1A1D32;
} 
.orange{
    color:#ED9B59;
}

#second-container-left >:nth-child(3){
    position: absolute;
width: 520px;
height: 120px;
left: 71px;
top: 458px;

font-family: 'Google Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */


color: #1A1D32;

opacity: 0.7;
}

#second-container-left >:nth-child(4){
    position: absolute;
width: 515px;
height: 68px;
left: 72px;
top: 600px;

background: #FFFFFF;
border-radius: 40px;
}

#second-container-left >:nth-child(4)>button{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 320px;
    top: 10px;

    background: #ED9B59;
    box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407), 0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04), 0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
    border-radius: 40px;
}
#second-container-left >:nth-child(4)>img{
    position: absolute;
    width: 20px;
    height: 16px;
    left: 15px;
    top: 24px;

    
}
#second-container-left >:nth-child(4)>div{
    position: absolute;
    width: 116px;
    height: 20px;
    left: 50px;
    top: 18px;

    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1A1D32;

    opacity: 0.3;

}

#fifthdiv>div>div:nth-child(1) {
            position: absolute;
            width: 110px;
            height: 71px;
            left: 70px;
            top: 787px;

            font-family: 'Google Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 71px;
            letter-spacing: -4px;

            color: #1A1D32;
}
#fifthdiv>div>div:nth-child(2){
            position: absolute;
            width: 139px;
            height: 48px;
            left: 70px;
            top: 866px;

            font-family: 'Google Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */


            color: #1A1D32
}

#fifthdiv>div:nth-child(2)>div:nth-child(1){
    position: absolute;
    width: 125px;
    height: 71px;
    left: 286px;
    top: 787px;
    
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    letter-spacing: -4px;
    
    color: #B35E21;
}
#fifthdiv>div:nth-child(2)>div:nth-child(2){
    position: absolute;
width: 123px;
height: 48px;
left: 286px;
top: 866px;

font-family: 'Google Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #1A1D32;

}

#fifthdiv>div:nth-child(3)>div:nth-child(1){
    position: absolute;
    width: 100px;
    height: 71px;
    left: 497px;
    top: 787px;
    
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    letter-spacing: -4px;
    
    color: #1A1D32;
    
}
#fifthdiv>div:nth-child(3)>div:nth-child(2){
    position: absolute;
width: 124px;
height: 48px;
left: 497px;
top: 866px;

font-family: 'Google Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #1A1D32;
}


/* right */


#second-container-right>img  {
    position: absolute;
width: 651px;
height: 892px;
left: 710px;
top: 108px;
}

/* right sub */

#sub-container-left{
  margin-left: 630px;
  margin-top: 560px;
}
#sub-container-left-firstdiv{
  display: flex;
  
}



.gender{
    /* position: absolute; */
    width: 123px;
    height: 44px;
    
    background: #FFFFFF;
    box-shadow: -20px 14px 24px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px
 }
 .gender>img{
    position: absolute;
    left: 16.67%;
    top: 10px;
    width: 20px;
    border: 1.25px solid #F59B5A;

 }
 .gender>p{
    position: absolute;
    width: 31px;
    height: 24px;
    top: -4px;;
    left:50px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;

    color: #F59B5A;
 }

 .age{
    position: absolute;
    width: 123px;
    height: 44px;
    margin-left: 130px;
    background: #F59B5A;
    border-radius: 10px;
 }
 .age>img{
    position: absolute;
    width: 25px;
    height: 18pxpx;
    left: 5px;
    top: 11px;

    background: #FFFFFF;

 }
 .age>p{
    position: absolute;
    width: 75px;
    top:-4px;
    height: 24px;
    margin-left: 30px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    text-align: center;
    
    color: #FFFFFF;
 }

 .location{
    position: absolute;
    width: 123px;
    height: 44px;
    margin-left: 260px;
    background: #FFFFFF;
    box-shadow: -20px 14px 24px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 10px;
 }
 .location>img{
    position: absolute;
    left: 16%;
    top: 6px;
    width: 20px;
    border: 1.25px solid #F59B5A;
 }
 .location>p{
    position: absolute;
    width: 31px;
    height: 24px;
    top: -4px;;
    left:50px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;

    color: #F59B5A;
 }



 #sub-container-left-seconddiv{
    position: absolute;
    width: 390px;
    height: 98px;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    text-align: center;
    border-radius: 10px;
    margin-left: -3px;
    display: flex;
 }
 #sub-container-left-seconddiv >div{
  margin-top: 10px;
  margin-left: 10px;
  /* display: flex; */
 }
 #sub-container-left-seconddiv>div:nth-child(2){
  
    position: absolute;
    width: 104px;
    height: 24px;
    
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #333333;
     margin-top: -1px;
     margin-left: 120px; 
 }
  #sub-container-left-seconddiv>p>p{
    
    position: absolute;
    width: 84px;
    height: 24px;
    
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    color: #333333;
    
    opacity: 0.5;

   
  }

 
/*  */
 #sub-container-left-thirddiv{
    position: absolute;
    width: 400px;
    height: 98px;
    margin-top: 160px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
 }
 #sub-container-left-thirddiv >div{
  margin-top: 10px;
  margin-left: 10px;
  /* display: flex; */
 }
 #sub-container-left-thirddiv>div:nth-child(2){
  
    position: absolute;
    width: 104px;
    height: 24px;
    
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #333333;
     margin-top: -1px;
     margin-left: 120px; 
 }
  #sub-container-left-thirddiv>p>p{
    
    position: absolute;
    width: 84px;
    height: 24px;
    
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    color: #333333;
    
    opacity: 0.5;

   
  } 
 

 .select{
   position: absolute;
   width: 76px;
   height: 44px;
   
   background: #F59B5A;
   border-radius: 10px;
   top: 14px;
   left: 280px;
 }
 .select>p{
   color: #FFFFFF;
   margin-top: 10px;
 }

 /* card right */
#sub-container-right{
    border: 1px solid;
    border-radius: 40px;
    background-color: whitesmoke;
    width: 400px;
    height: 270px;
    margin-left: 1070px;
    margin-top:-25px;
    position: absolute;
}
.cardnumber>p{
    margin-left: 30px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
/* identical to box height */

text-transform: uppercase;

color: #000000;

mix-blend-mode: normal;
opacity: 0.7;
}

.cardnumber>h2{
  
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 1.5px;

color: #000000;
margin-left: 28px;
}
.card{
    display: flex;
    gap: 100px;
    margin-left: 30px;
}
.card>div>p{
    margin-left: 0px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
/* identical to box height */

text-transform: uppercase;

color: #000000;

mix-blend-mode: normal;
opacity: 0.7;
}
.card>div:nth-child(2){
    margin-left: -20px;
}
#incard{
    margin-top: 80px;

}
#card>div>h2{
    position: absolute;
height: 21px;
left: 0%;
right: 9.52%;
/* top: calc(50% - 21px/2 + 8.5px); */

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
margin-top: 30px;
color: #000000
}